:root {
    --color-primary: #FF6565;
    --color-dark: #071629;
    --color-light: #ffffff;

    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 32px;
    --space-lg: 64px;
    --space-xl: 100px;

--max-width: 1000px;
}

/*reset css*/
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base style*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-light);
    background-color: var(--color-dark);
}

a{
    color: var(--color-light);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--color-primary);
}

/*layout*/.container {
    max-width: var(--max-width);
    margin: 0 auto;padding: var(--space-xl) var(--space-sm);
    text-align: center;
}

/*hero section*/
.hero {
    min-height: 100vh;
    background:
       linear-gradient(
        rgba(7, 22, 4, 0.9),
        rgba(7, 22, 41, 0.9)
       ),
       url("C:\Users\USER\AppData\Local\Temp\e72873aa-6742-4be1-8259-fb2f525de8c8_Archive.zip.8c8\01_headphones_desktop@2x.png") center / cover no-repeat;

       display: flex;
       align-items: center;
}

/*text*/
h1 {
    font-size: 2.5rem;
    margin-bottom: var(--space-md);
}

p{
    font-size: 1rem;
    margin-bottom: var(_-space-md);
}

/*button*/
button {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    padding: var(--space-sm) var(--space-md);
    cursor: pointer;
    font-size: 1rem;
}

button:hover,
butoon:active {
    opacity: 0.9;
}

/*moblie (480) */
@media (max-width: 480px) {
    .container {
        padding: var(--space-lg) var(--space-sm);
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }
}

/*What we do*/
.what-we-do {
    background-color: var(--color-light);
    color: var(--color-dark);
    text-align: center;
}

.what-we-do .container {
    padding: var(--space-x1) var(--space-sm);
}

/*section heading*/
.what-we-do h2 {
font-size: 2rem;
margin-bottom: var(--space-md);
}

/*intro text*/
.what-we-do p {
    max-width: 700px;
    margin: 0 auto var(--space-lg);
    font-size: 1rem;
}

/*items wrapper*/
.feature {
    flex: 1;
}

/*icon*/
.feature img {
    width: 60px;
    margin-bottom: var(--space-sm);
}

/*feature title*/
.feature h3 {
    font-size: 1rem;
    margin-bottom: var(--space-xs);
}

/*feature text*/
.feature p {
    font-size: 0.9rem;
}

@media (max-width: 480px) {
    .features {
        flex-direction: column;
        gap: var(--space-lg);
    }
}